/* Custom Styles */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("hero-image.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    margin-top: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 56px; /* Adjust based on navbar height */
}

#sdgs {
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        overflow: hidden;
    }
    
    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    .card-text {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    .card:hover .card-text {
        white-space: normal;
    }
}

#progress {
    .progress-section {
        padding: 20px 0;
        text-align: center;
    }
    
    .d-flex {
        justify-content: center;
    }

    .card {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
    }
    
    .card img {
        height: 150px;
        object-fit: cover;
    }
    
    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .card-text {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .card:hover {
        transform: scale(1.05);
        height: auto;
        z-index: 10;
        position: absolute;
        width: 70%;
    }
    
    .card:hover .card-text {
        white-space: normal;
    }


    .image-gallery {
        text-align: center;
    }
    
    .gallery-img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    
    .gallery-img:hover {
        transform: scale(2);
    }
    
}






